*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.nav__list{
    display: flex;
    gap: 0 40px;
}

.nav__link{
    color: #000;
}

.nav__contact{
    display: flex;
}

.nav__social{
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-right: 60px;
}

.nav__tel{
    color: #000;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    gap: 0 10px;
}

.nav__burger{
    margin-left: 50px;
    display: none;
}

.swiper {
  width: 100%;
  height: 687px;
}

.swiper-wrapper{
    height: 100%;
}

.swiper-slide {
    height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.swiper-overlay{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-top: 120px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
}


.swiper__content h2{
    font-size: 56px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.swiper__content p{
    margin: 23px 0 47px 0;
}

.swiper__content{
    max-width: 476px;
}

.swiper__content a{
    background-color: #AE7B3C;
    color: #fff;
    font-weight: 700;
    padding: 22px 56px;
}

.swiper-controllers{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 45px 20px;
}

.swiper-navigation__wrapper{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0 50px;
}

.swiper-controllers{
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    max-width: 1200px;
    bottom: 0;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    padding-top: 40px;
    border-top: 1px solid #ffffff4d;
}

.swiper-button-next, .swiper-button-prev{
    position: relative;
    z-index: 3;
}

.swiper-button-next::after{
    width: 40px;
    height: 40px;
    content: "";
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/arrow-right.svg");
}

.swiper-button-prev::after{
    width: 40px;
    height: 40px;
    content: "";
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/arrow-left.svg");
}

.swiper-pagination{
    z-index: 3;
    position: static;
    display: flex;
    width: auto !important;
}

.swiper-pagination-bullet{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffffff4d;
    color: #ffffff4d;
}

.swiper-pagination-bullet-active{
    color: #fff;
    border: 1px solid #fff;
}




#intro {
    padding-bottom: 140px;
}
.intro-title {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 46px;
    line-height: 57.5px;
    text-align: center;
    margin: 140px 0 80px 0;
}
.intro-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.intro-card {
    border-left: 2px solid #282B22;
    padding-left: 30px;
    border-right: 2px solid #282B22;
    padding-right: 30px;
}
.active {
    border: none;
}
.intro-card strong {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #282B22;
    
}
.intro-card p {
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: "Raleway";
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #3D4A39;
}

#product {
    background-color: #3D4A39;
    padding-bottom: 100px;
}
.product-title {
    font-family: "Roleway";
    font-weight: 600;
    font-size: 46px;
    line-height: 57.5px;
    color: #fff;
    text-align: center;
    padding-top:100px;
    padding-bottom: 70px;
}
.product-card_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-box {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 278px;
    width: 100%;
}


.product-card p {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #ffffff4d;
    max-width: 278px;
}

#about {
    padding-top: 100px;
}
.about-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.about-title p {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 36px;
    line-height: 46.8px;
    max-width: 814px;
    text-align: center;
    margin-bottom: 80px;
}
.about-cards {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #282B22;
    border-bottom: 1px solid #282B22;
}
.about-card {
    border-right: 1px solid #282B22;
    padding: 30px 0;
    display: flex;
    align-items: flex-start;
    gap: 0 15px;
}
.active{
    border: none;
}
.img {
    margin-top: 143px;
}
.about-input  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid #282B22;
}
.about-checkbox {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-checkbox:checked {
    background-color: #AE7B3C;
}
.about-card span {
    max-width: 370px;
}


.table {
    padding-top: 140px;
}



.line {
    max-width: 1200px;
    width: 100%;
    height: 1.5px;
    background-color: #282B22;
    opacity: 20%;
   
}

.table__title {
    color: #282B22;
    font-family: "Raleway";
    font-size: 46px;
    font-weight: 600;
    line-height: 57.5px;
    text-align: center;
}

.border {
    height: 150px;
    width: 2px;
    background-color: #282B22;
    opacity: 20%;

}

.table__card {
    display: flex;
    gap: 573px;
}
.table__card:hover {
    transform: scale(1.1);
    color: #AE7B3C;
}

.content__right {
    display: flex;
    gap: 40px;
}

.content__title {
    color: #282B22;
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
    text-align: left;
    margin-bottom: 10px;
}

.content__text {
    color: #282B22;
    opacity: 80%;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
   transition: .5s;
}

.table__strong {

    color: #282B22;
    opacity: 20%;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

   transition: .5s;
}

.table__strong:hover{
    color: #AE7B3C;
    opacity: 100%;
}
.content__title:hover{
    color: #AE7B3C;
}





.contact {
    background-color: #3D4A39;
    display: flex;
    margin-top: 140px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.form__contact {
    display: flex;
    flex-direction: column;
}

.form__title {
    color: white;
    font-family: "Raleway";
    font-size: 46px;
    font-weight: 600;
    line-height: 57.5px;
    text-align: left;
    margin-top: 100px;
}

.form__text {
    color: white;
    opacity: 80%;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 23.2px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;

}

input {
    border: none;
    background-color: #3D4A39;
}

.input__line {
    width: 300px;
    background-color: #7d7f79;
    opacity: 80%;
    height: 1px;
    margin-top: 10px;
}

.paper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.paper-img {
    padding: 6px;
    border: 1px solid #fff;
}
.paper__text {
    color: white;
    opacity: 40%;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;

}

.btn {
    padding: 22px 0;
    background: #AE7B3C;
    border: none;
    margin-top: 40px;
    color: white;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
}
.contact-img img {
    max-width: 800px;
    height: 100%;
}


#menu {
    padding: 140px 0;
}
.menu-title {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 46px;
    line-height: 57.5px;
    color: #282B22;
    text-align: center;
}
.menu-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-box {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #3D4A39;
    text-align: center;
}
.menu-box strong {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #3D4A39;
}
.menu-card h4 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #282B22;
    display: inline-block;
    padding: 35px 0 15px 0;
}
.menu-card p {
    max-width: 240px;
    min-height: 92px;
}
.menu-line {
    border-bottom: 1px solid #282B22;
    margin: 20px 0; 
    padding-top: 100px;
}

#footer {
    padding-top: 100px;
}
.footer-cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
}
.footer-card span {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #282B22;
    display: flex;
    align-items: center;
    padding: 31px 0;
}
.footer-box p {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #282B22;
    padding-bottom: 30px;
}
.footer-btn strong {
    font-family: "Lato";
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #3D4A39;
    display: flex;
    align-items: center;
    padding-bottom: 30px;

}
.footer-btn a {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 8px 24px;
    background-color: #AE7B3C;
}
.footer-brand_title h4 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #3D4A39;
}
.footer-img {
    padding: 38px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-line {
    border: 1px solid #282B22;
}
.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.footer-info span {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #282B22;
}





@media only screen and (max-width: 1250px) {
    header {
        align-items: center;
    }
} 
@media only screen and (max-width: 999px){
    
    .nav__list{
        display: none;
    }

    .nav__burger{
        display: block;
    }

    .nav__social{
        margin-right: 50px;
    }
    .img {
        display: none;
    }
    .image {
        display: none;
    }
    .table__card {
        gap: 10px;
    }
    .contact {
        flex-direction: column;
        width: 100%;
    }
    .form__wrapper {
        max-width: 100%;
        width: 100%;
    }
    .contact-img img {
        width: 100%;
        height: 100%;
        margin-top: 80px;
    }
    .footer-cards {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 552px){

    .nav__logo img{
        height: 43px;
    }

    .nav__contact *:not(.nav__burger){
        display: none;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none !important; 
    }

    .swiper-controllers{
        justify-content: center;
    }
    .intro-card img {
        width: 100%;
    }
    .footer-cards {
        flex-wrap: wrap;
    }
}